@model List<MDBLandingPage.Models.sismos>
@{
    ViewBag.Title = "Visor";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<br>
<!--Section: Main features & Quick Start-->
<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

    <div id="map" style="margin-left: -3em;"></div>

    @using (Html.BeginForm("Visor", "Home", FormMethod.Get))
    {
        <br><br>

        <table id="cities" class="bordered listdir datatables super-responsive">
            <thead>
                <tr>
                    <th>
                        <strong>Departamento</strong>
                    </th>

                    <th>
                        <strong>Magnitud</strong>
                    </th>

                    <th>
                        <strong>Profundidad</strong>
                    </th>

                    <th>
                        <strong>Año</strong>
                    </th>

                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        <input type="hidden" id="coordinates" name="coordinates" />
        <input type="hidden" id="type" name="type" />
        <div>
            <button type="reset" class="btn btn-primary" style="margin: auto;display: block;">Buscar</button>
        </div>
    }

    <script>
        var map = L.map('map').setView([12.136005232925378, -86.297607421875], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //DEFINICIÓN DE WORKSPACE
        var url = 'http://localhost:8080/geoserver/ows?';

        //DEFINICIÓN DE CAPAS BASES
        var terreno_osm = L.tileLayer.provider('Stamen.TerrainBackground', { maxZoom: 11 });
        var osm_completo = L.tileLayer.provider('OpenStreetMap.Mapnik', { maxZoom: 12 });
        var satelite_esri = L.tileLayer.provider('Esri.WorldImagery', { maxZoom: 12 });

        //función para mostrar icono en cada capa
        function iconByName(name) {
            return '<i class="icon ' + name + '"></i>';
        }

        var limites = L.tileLayer.betterWms(url, { layers: 'quierosalvarsemestre:limitesNic', transparent: true, visible: true, format: 'image/png', maxZoom: 14 });

        //Lista colapsable de capas bases
        var baseLayers =
            [
                {
                    group: "Capas bases",
                    collapsed: true,
                    layers:
                        [
                            {
                                name: "Completo (OSM)",
                                //icon: iconByName('icon-world'),
                                layer: osm_completo
                            },
                            {
                                name: "Sat&eacute;lite (ESRI)",
                                //icon: iconByName('icon-mundo'),
                                layer: satelite_esri
                            },
                            {
                                name: "Terreno (OSM)",
                                //icon: iconByName('icon-mundo'),
                                layer: terreno_osm
                            },

                            {
                                name: "Limites de Nicaragua",
                                layer: limites
                            }
                        ]
                }
            ];

        var s1 = L.tileLayer.betterWms(url, { layers: 'quierosalvarsemestre:sismos2018', transparent: true, visible: true, format: 'image/png', maxZoom: 14 });
        var s2 = L.tileLayer.betterWms(url, { layers: 'quierosalvarsemestre:sismos2019', transparent: true, visible: true, format: 'image/png', maxZoom: 14 });

        var overLayers = [
            {
                group: "Capas",
                icon: iconByName('icon-capas'),
                collapsed: true,
                layers:
                    [
                        {
                            name: "Sismos de 2018",
                            icon: iconByName('icon-cesta'),
                            layer: s1
                        },
                        {
                            name: "Sismos de 2019",
                            icon: iconByName('icon-cesta'),
                            layer: s2
                        }
                    ]
            },
        ];

        map.addLayer(osm_completo);

        var panelLayers = new L.Control.PanelLayers(baseLayers, overLayers,
            {
                collapsibleGroups: true,
                collapsed: true
            });

        map.addControl(panelLayers);

        // Initialise the FeatureGroup to store editable layers
        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);

        var drawPluginOptions = {
            position: 'topleft',
            draw: {
                rectangle: {
                    allowIntersection: false, // Restricts shapes to simple polygons
                    drawError: {
                        color: '#e1e100', // Color the shape will turn when intersects
                        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                    },
                    shapeOptions: {
                        color: '#97009c'
                    }
                },
                polygon: {
                    allowIntersection: false, // Restricts shapes to simple polygons
                    drawError: {
                        color: '#e1e100', // Color the shape will turn when intersects
                        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                    },
                    shapeOptions: {
                        color: '#97009c'
                    }
                },
                // disable toolbar item by setting it to false
                polyline: false,
                circle: false, // Turns off this drawing tool
                marker: true,
                circlemarker: false
            },
            edit: {
                featureGroup: editableLayers, //REQUIRED!!
                remove: true
            }

        };

        // Initialise the draw control and pass it the FeatureGroup of editable layers
        var drawControl = new L.Control.Draw(drawPluginOptions);
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'polygon') {
                $("#coordinates").val(layer.getLatLngs());
                $("#type").val(type);
            }
            if (type === 'rectangle') {
                $("#coordinates").val(layer.getLatLngs());
                $("#type").val(type);
            }
            if (type === 'marker') {
                $("#coordinates").val(layer.getLatLng());
                $("#type").val(type);
                console.log(layer.getLatLng());
            }

            editableLayers.addLayer(layer);
        });

        $(document).ready(function () {
            $('#cities').DataTable();
        });

    </script>

</section>
<!--Section: Main info-->
